/* source: */
/* https://www.youtube.com/watch?v=McPdzhLRzCg */

body {
	background-color: #f8fafc;
}

.slider-container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	/* max-width: 48rem; */
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: scale-down;
	max-width: 100%;
}

.slider-nav {
	display: flex;
	column-gap: 2rem;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 4rem;
	height: 2rem;
	border-radius: 10%;
	background-color: #808080;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}